

<section class="contactus">

  <div class="container">

    <div class="row">

      
        <form>

          <div class="myform">

            <h2 class="text-center">تواصل معنا</h2>

            <div class="form-row pt-4">
                
              <div class="form-group col-12 col-lg-6">
                  <label for="inputCity">الإسم</label>
                  <input type="text" class="form-control" id="inputCity">
              </div>

              <div class="form-group col-12 col-lg-6">
                <label for="inputCity">البريد الإلكتروني</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
                
            </div>

              <div class="form-group col-8 area pt-4">
                  <label for="inputCity" class=" my-2">محتوى الرسالة</label>
                  <textarea type="text" class="form-control" id="inputAddress2" placeholder=""></textarea>
              </div>
                <button type="submit" class="btn btn-outline-dark">إرسال</button>
           </div>
        </form>
    </div>

  </div>

</section>
