
  <section class="features-icons bg-light text-center " id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                  <i class="fa fa-sign-in m-auto"></i>
              </div>
              <p class="lead mb-0">قم بإنشاء حسابك على الموقع</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                  <i class="fa fa-book m-auto"></i>
              </div>
              <p class="lead mb-0">أضف الكتب التي ترغب في تبديلها</p>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                    <i class="fa fa-exchange m-auto"></i>
                </div>
                <p class="lead mb-0">ابدأ التبادل مع بقية الأعضاء</p>
              </div>
            </div>
            
        </div>
      </div>
    </section>
    