

<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">

        <div class="col-12 text-center">
          <h1 class="font-weight-bold">مرحبا بكم في BookSwap</h1>
          <p class="lead mt-2 mb-2">مجتمع مخصص لتبادل الكتب</p>

          <a routerLink="/book" class="btn btn-dark btn-lg mx-2 mt-3" role="button">قائمة الكتب</a>
          <a routerLink="/profile" class="btn btn-outline-light btn-lg mx-2 mt-3" role="button">بدل كتبك</a>

        </div>
    </div>
    </div>
  </header>
  
  
