


<section class="">

  <div class="container">

    
    <div class="row">

      
      <div class="col-lg-5 my-3 mx-auto d-flex align-items-center justify-content-start">
        
        <div>
            <h2 class="text-center">من نحن</h2>

            <p class="lead m-4 ">  
              
               موقع لتبادل الكتب بأسلوب فريد من نوعه، يتم التبادل مع أي فرد داخل مصرأو أكثر من فرد في نفس المرة.
              <br>
              تتم إضافة رصيد من النقاط إلى حسابك بعد استغناءك عن كتاب أو أكثر مما سيمكنك من شراء أي كتاب قام شخص آخر بالتبرع به  للموقع
            
            </p>    
        </div>
        
      </div>

      <div class="col-12  col-lg-6  text-center bgbook mh-10"></div>

    </div>

    

  </div>

</section>